n8n/workflows/02_arxiv_crawler.json
{
    "name": "Arxiv Crawler (To Supabase)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 24
                        }
                    ]
                }
            },
            "id": "2de09e2e-8c31-4e49-8c2f-8700efda69a8",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                380,
                240
            ]
        },
        {
            "parameters": {
                "url": "http://export.arxiv.org/api/query",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "search_query",
                            "value": "cat:cs.AI OR cat:cs.LG"
                        },
                        {
                            "name": "sortBy",
                            "value": "lastUpdatedDate"
                        },
                        {
                            "name": "sortOrder",
                            "value": "descending"
                        },
                        {
                            "name": "max_results",
                            "value": "20"
                        }
                    ]
                },
                "options": {}
            },
            "id": "e98e72c8-89c5-4ad9-bf0c-5ee2c7efee46",
            "name": "HTTP Request (Arxiv API)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                600,
                240
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "4004cde6-65c3-42e5-ad8e-8a9d18b6eaf4",
            "name": "XML to JSON",
            "type": "n8n-nodes-base.xml",
            "typeVersion": 1,
            "position": [
                820,
                240
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "feed.entry",
                "options": {}
            },
            "id": "5fa82eb0-31f4-4361-bd80-482a85f81fe4",
            "name": "Item Lists",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 2.1,
            "position": [
                1040,
                240
            ]
        },
        {
            "parameters": {
                "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  items.push({\n    json: {\n      source_platform: 'arxiv',\n      type: 'article',\n      source_id: data.id,\n      url: data.id,\n      title: data.title,\n      content: data.summary,\n      published_at: data.published,\n      author: {\n        name: data.author?.name || 'Unknown'\n      }\n    }\n  });\n}\n\nreturn items;"
            },
            "id": "76620593-ba32-411a-8280-99af3b64aa6e",
            "name": "Map to Supabase Schema",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1260,
                240
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://gxuoceuryofmiuyrkmfn.supabase.co/rest/v1/content_items?on_conflict=source_platform,source_id",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Prefer",
                            "value": "resolution=merge-duplicates"
                        },
                        {
                            "name": "apikey",
                            "value": "DANS_IDENTIFIANT_N8N_OU_ICI"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json }}",
                "options": {}
            },
            "id": "e22709e9-d9db-4ab4-8395-8178a9c3ce17",
            "name": "Supabase API (Upsert)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1480,
                240
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "",
                    "name": "Header Auth"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "HTTP Request (Arxiv API)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request (Arxiv API)": {
            "main": [
                [
                    {
                        "node": "XML to JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "XML to JSON": {
            "main": [
                [
                    {
                        "node": "Item Lists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Item Lists": {
            "main": [
                [
                    {
                        "node": "Map to Supabase Schema",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Map to Supabase Schema": {
            "main": [
                [
                    {
                        "node": "Postgres (Supabase Upsert)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "f06c10e0-c247-4959-bd9d-0726d1ed5d53"
}